.resize {
    position: absolute;
    border: 2px solid deepskyblue;
}

.resize-items {
    display: flex;
    justify-content: space-between;
}

.resize-corner {
    --default-offset: -8px;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: deepskyblue;
    border: 1px solid gray;
}

.resize-corner__top-left {
    top: var(--default-offset);
    left: var(--default-offset);
}

.resize-corner__top-left:hover {
    cursor: nwse-resize;
}

.resize-corner__top-right {
    top: var(--default-offset);
    right: var(--default-offset);
}

.resize-corner__top-right:hover {
    cursor: nesw-resize;
}

.resize-corner__bottom-right {
    right: var(--default-offset);
    bottom: var(--default-offset);
}

.resize-corner__bottom-right:hover {
    cursor: nwse-resize;
}

.resize-corner__bottom-left {
    left: var(--default-offset);
    bottom: var(--default-offset);
}

.resize-corner__bottom-left:hover {
    cursor: nesw-resize;
}
