.app {
  width: 100vw;
  height: 100vh;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

button {
  font-size: 16px;
}