.resize {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 2px solid deepskyblue;
}

.resize-corner {
    width: 12px;
    height: 12px;
    margin-right: -6px;
    margin-bottom: -6px;
    border-radius: 50%;
    background: deepskyblue;
    border: 1px solid gray;
}

.resize-corner:hover {
    cursor: nwse-resize;
}
